button {
background: white;
border-radius: 5px;
}
.container_buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 44%;
    max-width: 45%;
    margin-top: 8px;
}
.buttons {

}
.unload {
    width: 7%;
    height: 6%;
    margin-top: 10%;
    margin-right: 10px;
    margin-left: 10px;
}