.CachedTreeView {
    margin-top: 15px;
    padding: 10px;
    flex-shrink: 0;
    /*flex-basic: 20em;*/
    border: 1px solid black;
    width: 40%;
    min-height: 79%;
    max-height: 80%;
    overflow: auto;
}