.DBTreeView {
    margin-right: 10px;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid black;
    width: 40%;
    min-height: 79%;
    max-height: 80%;
    overflow: auto;
}

.deleted-node {
    color: red;
}