<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TreeDataBase</title>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='default.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='container.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='DBTreeView.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='CachedTreeView.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='buttons.css') }}">

</head>
<body>
    <form name="add-node" id="add-node" method="post" action="{{ url_for('add_node') }}"></form>
    <form name="delete-node" id="delete-node" method="post" action="{{ url_for('delete_node') }}"></form>
    <form name="reset-cache" id="reset-cache"  method="get" action="{{ url_for('reset_cache') }}"></form>
    <form name="apply" id="apply" method="get" action="{{ url_for('apply_changes') }}"></form>
    <form name="change-value" id="change-value" method="post" action="{{ url_for('change_value') }}"></form>

    <div class="container">
         <div class="CachedTreeView">
                     <ul>
                          {% if ch_nodes%}
                            {% for pre, fill, node in rendered_cache %}
                                        {% if node.parent not in ch_nodes and not node.is_root %}
                                            {% set pre="─" * node.depth %}
                                        {% endif %}
                                {% if node in ch_nodes %}
                                     {% if node.will_be_deleted %}
                                        <li style="color: red; white-space: pre">{{ pre }}{{ node.will_be_changed }}</li>
                                     {% endif %}
                                     {% if not node.will_be_deleted %}
                         <li style="white-space: pre"><input type="radio" name="node" value="{{ node.name }}"
                         form="add-node" onClick="saveNodeByName('{{ node.name }}')">{{ pre }}<input type="text"
                         name="value{{node.name}}" value="{{ node.will_be_changed }}" form="change-value"></li>
                                     {% endif %}
                                {% endif %}
                            {% endfor %}
                          {% endif %}
                     </ul>
        </div>
        <button type="submit" class="unload" form="choice-node">
                <<<
        </button>
        <div class="DBTreeView">
             <form name="tree-work" method="post" action="{{ url_for('upload_cache') }}" id="choice-node">
                <ul>
                    {% if rendered_tree%}
                        {% for pre, fill, node in rendered_tree %}
                            {% if node in tree %}

                                {% if node.is_deleted %}
                                    <li style="color: red; white-space: pre">{{pre}}{{ node.value }}</li>
                                {% endif %}

                                {% if not node.is_deleted %}
<li style="white-space: pre"><input form="choice-node" type="radio" name="node" value="{{ node.name }}">{{ pre }}{{ node.value }}</li>
                                {% endif %}

                            {% endif%}
                         {% endfor %}

                    {% endif %}
                </ul>
             </form>
        </div>

        <div class="container_buttons">
            <div class="buttons">
                <input type="text" name="value" form="add-node" >
                <input type="submit" value="+" form="add-node">

                <input type="hidden" id="deleted-node" name="node" form="delete-node">
                <input type="hidden" id="changed-node" name="node" form="change-value">

                <input type="submit" value="-" form="delete-node" id="submit-to-delete">
                <input type="submit" value="a" form="change-value" id="submit-to-change">

            </div>
            <div class="buttons">
                 <input type="submit" form="apply" value="apply">
                 <input type="submit" form="reset-cache" value="Reset">
            </div>
        </div>
    </div>
</body>
    {% block javascript %}
        <script src="{{ url_for('static', filename='selected_item.js') }}"></script>
    {% endblock %}
</html>
